{% extends 'choreoindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D7BDE2;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
   <center> <h1>
     View Troupe Request
    </h1></center>
  <br><br>
  <table  width="300" height="100">
       <!--<tr>-->
        <!--<th width="92" scope="col">Type</th>-->
        <!--<th width="144" scope="col"><label>-->
          <!--<select name="select" required>-->
      <!--</select>-->
        <!--</label></th>-->
        <!--<th width="56" scope="col"><label>-->
          <!--<input type="submit" name="Submit" value="Search" />-->
        <!--</label></th>-->


      <!--</tr>-->
      </table>
    <br>

      <table id="customers">
    <tr>
      <th scope="col">Troupe Name</th>
        <th scope="col">Name</th>
         <th scope="col">Place</th>
      <th scope="col">Pone</th>
       <th scope="col">Date</th>
        <th scope="col">Email</th>


      <!--<th></th>-->
      <th scope="col">&nbsp;</th>
    </tr>
    <tr>{% for i in val %}
      <td>&nbsp;{{i[0]}}</td>
      <td>&nbsp;{{i[4]}}</td>
      <td>{{i[8]}}</td>
        <td>{{i[7]}}</td>
<td>{{i[6]}}</td>
        <td>&nbsp;{{i[9]}}</td>


      <td><a href="chore_accept_public_troupe_reqst?id={{i[3]}}">Accept</a></br>
      <a href="chore_reject_public_troupe_reqst?id={{i[3]}}">reject</a></td>
    </tr>{% endfor %}
  </table>
</form>
<br><br><br><br><br><br><br><br><br><br>
</body>
<!--</html>-->
{% endblock %}