{% extends 'adminindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="424" border="1">
    <tr>
      <th colspan="2" scope="row">Admin Home </th>
    </tr>
    <!--<tr>-->
      <!--<th width="199" scope="row"><a href="mailto:">login</a></th>-->
      <!--<td width="209" rowspan="6">&nbsp;</td>-->
    <!--</tr>-->
    <tr>
      <th scope="row"><a href="/Add category">Add category</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/choreographer">View and approve choreographer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/View and approve college">View and approve college</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/View complaints and send reply">View complaints and send reply</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/View feedback">View feedback</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/View rating">View rating</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/">logout</a></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
