{% extends 'candidateindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="213" border="1">
    <tr>
      <th width="203" scope="row"><a href="#">view & update profile</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view assigned choreographer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">send complaint & view reply</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">send feedback</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">send rating</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/">logout</a></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
