{% extends 'choreoindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="#">choose category</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">add/manage category</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view event</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view request status</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">provide troupe & costume</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view troupe & costume</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">add & manage schedule</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view assigned candidate</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view complaint & reply</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view feedback</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="#">view rating</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/">logout</a></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
<!--</html>-->
