{% extends 'index.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="choreo1">
  <table width="200" border="1">
    <tr>
      <th colspan="2" scope="col">REGISTRATION</th>
    </tr>
    <tr>
      <td width="172"> First Name</td>
       <td> <input type="text" name="textfield" required  pattern="[A-Z a-z]{3,25}"/>
      </td>
      <tr>
      <td width="172"> Last Name</td>
       <td> <input type="text" name="textfield54" required pattern="[A-Z a-z]{1,25}"/>
      </td>
      <tr>
      <td>Place</td>
      <td><label>
        <input type="text" name="textfield2" required/>
      </label></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><label>
        <input type="text" name="textfield3" required/>
      </label></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><label>
        <input type="text" name="textfield4" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><label>
        <input type="text" name="textfield5" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><label>
        <input type="text" name="textfield6" required />
      </label>
      <label></label></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><label>
        <select name="select">
          {% for i in val %}
          <option value="{{i[0]}}">{{i[1]}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><label>
        <input type="text" name="textfield8" required/>
      </label></td>
    </tr>
    <tr>
      <td>password</td>
      <td><label>
        <input type="password" name="textfield9" required pattern="{6}" />
      </label></td>
    </tr>
    <tr>
      <td>Confirm password </td>
      <td><label>
        <input type="password" name="textfield7" required pattern="{6}"/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Registration" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}