{% extends 'collegeindex.html'%}
{% block body%}

<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="/manage_event_edit2">
  <table width="200" border="1">
    <tr>
      <th scope="row">Event</th>
      <td><label>
        <input type="text" name="textfield" value="{{val[1]}}" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td><label>
        <input type="date" name="Date"  value="{{val[3]}}" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Time</th>
      <td><label>
        <input type="time" name="Time" value="{{val[4]}}" required/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><div align="center">
        <label>
        <input type="submit" name="Submit" value="Update" />
        </label>
      </div></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}