{% extends 'collegeindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->

<!--</head>-->

<body>
<tbody height="150" width="150">
<form id="form1" name="form1" method="post" action="/add_event">
  <div align="center">
    <table class="table">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th>&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i[1]}}</td>
        <td>&nbsp;{{i[3]}}</td>
        <td>{{i[4]}}</td>
        <td><a href="/view_cat?id={{i[0]}}&date={{i[3]}}">Send request</a></br>
        <a href="/manage_event_edit?eventid={{i[0]}}">Edit</a></br>
        <a href="/manage_event_delete?id={{i[0]}}">Delete</a>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="4"><div align="center">
          <label>
            <input type="submit" name="Submit" value="Add" />
            </label>
        </div></td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
</body>
<!--</html>-->
{% endblock %}