
{% extends 'collegeindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="Pubdetails_troupe1">
  <center>

       <center>  <h4>Public Details</h4></center>

  <table width="300" border="0">
      <tr>
      <th scope="row">Name</th>
      <td><label>
        <input type="text" name="textfield6" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield" required />
      </label></td>
    </tr>

     <tr>
      <th scope="row">phone</th>
      <td><label>
        <input type="text" name="textfield4" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
     <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield5" required />
      </label></td>
    </tr>
      <tr>
      <th scope="row">Date</th>
      <td><label>
        <input type="date" name="textfield8" required />
      </label></td>
    </tr>
  </table>

        <input type="submit" name="Submit" value="Submit" />

  </center>
</form>
</body>
<!--</html>-->
{% endblock %}