<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'choreoindex.html'%}
{% block body%}
<body>
<form id="form1" name="form1" method="post" action="sendreply">
   <center> <h1>
    Send Reply
    </h1></center>
  <br><br>

  <table width="250" border="0" align="center">
    <tr>
      <th width="348" height="147" scope="row" >Reply</th>
      <td>
        <label>
        <textarea name="textarea" required></textarea>
        </label>
      </td>
    </tr>
  </table>
  <center>
  <input type="submit" name="Submit" value="Send" />
  </center>
</form>
</body>
<!--</html>-->
{% endblock %}