{% extends 'choreoindex.html'%}
{% block body%}
<body>
<form id="form1" name="form1" method="post" action="snd_rating1">
   <center> <h4>
    Send Rating
    </h4></center>
    <center>
      <br><br>
  <table width="200" border="0">
    <tr>
      <th scope="row">Choreographer</th>
      <td><label>
        <select name="select">
           {% for i in val %}
            <option value="{{i[2]}}">
                {{i[3]}}  {{i[4]}}
            </option>
            {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Rateing</th>
      <td><label>
        <select name="select2">
          <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>


        </select>

      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Rate" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}