{% extends 'candidateindex.html'%}
{% block body%}

<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<html>
<head>
    <style>

        body
        {
         background-position: center;
         background-attached:fixed;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url({{url_for('static',filename='imgs/im.jpg')}})



        }
    </style>
</head>
<body>
<button onclick="goBack()">Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<form id="form1" name="form1" method="post" action="update_candy">
  <center>
      <H4>Update profile</H4>
    </center>
  <br>

  <center>
  <table   width="400"  border="0">
    <!--<tr>-->
      <!--<th colspan="2" scope="row">Add Candidate </th>-->
    <!--</tr>-->
    <!--<tr>-->
      <th scope="row">First name</th>
      <td><label>
        <input type="text" name="textfield" required pattern="[A-Z a-z]{3,25}" value="{{val[3]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Last name</th>
      <td><label>
        <input type="text" name="textfield2" required pattern="[A-Z a-z]{1,25}"value="{{val[4]}}"i/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="textfield3" required value="{{val[5]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><label>
        <input type="text" name="textfield4" required value="{{val[6]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><label>
        <input type="text" name="textfield5" required pattern="[0-9]{6}"value="{{val[7]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label>
        <input type="text" name="textfield6" required pattern="[6789][0-9]{9}" value="{{val[8]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield7" required value="{{val[9]}}"/>
      </label></td>
    </tr> </table></center>
 <br>
   <center>
        <input type="submit" name="Submit" value="Update" />
   </center>
</form>
</body>
<!--</html>-->
{% endblock %}