{% extends 'choreoindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<center>
      <H4>Edit Schedule</H4>
    </center>
<center>
<form id="form1" name="form1" method="post" action="/update_choreo_sched">
  <table width="250" border="0">
    <tr>
      <th width="75" scope="row">From time </th>
      <td width="167"><label>
        <input type="time" name="time" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">To time </th>
      <td><label>
        <input type="time" name="time1" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td><label>
        <input type="date" name="Date" />
      </label></td>
    </tr> </table>


        <input type="submit" name="Submit" value="Update" />


</form>
</center>
</body>
<!--</html>-->
{% endblock %}