{% extends 'choreoindex.html'%}
{% block body%}
<body>
<form id="form1" name="form1" method="post" action="update_troupe1">
  <table width="200" border="1">
    <tr>
      <th scope="row">Troupe</th>
      <td><label>
        <input type="text" name="textfield" value="{{val[1]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td><label>
        <input type="text" name="textfield2" value="{{val[3]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield3" value="{{val[4]}}"/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Fee</th>
      <td><label>
        <input type="text" name="textfield4" value="{{val[5]}}" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Update" />
      </label></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
