{% extends 'choreoindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D7BDE2;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
   <center> <h4>
    View Rating
    </h4></center>
    <center>
      <br><br>
  <table id="customers">
    <tr>
      <th width="84" scope="col">Username</th>
      <th width="104" scope="col">Choreographer</th>
      <th width="69" scope="col">Rating</th>
      <th width="66" scope="col">date</th>
    </tr>{% for i in val %}
    <tr>
      <td height="66">&nbsp;{{i[0]}}</td>
      <td>&nbsp;{{i[1]}} {{i[2]}}</td>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}&nbsp;</td>
    </tr>{% endfor%}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}