{% extends 'index.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="/view_sched">
  <table class="table">
    <tr>
      <!--<th width="144" scope="row">Choreographer</th>-->
      <td width="144">From time </td>
      <td width="144">To time </td>
      <td width="177">Date</td>
      <td width="177">status</td>
      <td width="177">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <!--<th scope="row">{{i[1]}}</th>-->
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[4]}}</td>
       <td>{{i[5]}}</td>
      <td><a href="/send_reqst">send request</a></td>
    </tr>
     {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
