
{% extends 'collegeindex.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D7BDE2;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <center>
      <H4>View Assigned Choreographer </H4>
    </center>
  <br>
  <div align="center">
    <table id="customers">
      <tr>
        <th scope="col">Category </th>
        <th scope="col">choreographer</th>
        <th scope="col">place </th>
        <th scope="col">phone</th>
        <th scope="col">email</th>
      </tr>{% for i in val %}
      <tr>
        <td>{{i[14]}}</td>
        <td>&nbsp;{{i[6]}} {{i[7]}}</td>
        <td>&nbsp;{{i[9]}}</td>
        <td>&nbsp;{{i[11]}}</td>
        <td>&nbsp;{{i[12]}}</td>
      </tr>{% endfor %}
      </table>
  </div>
</form>

<br><br><br><br><br><br><br><br><br><br>
</body>
<!--</html>-->
{% endblock %}