{% extends 'index.html'%}
{% block body%}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="234" height="64" border="1">
    <tr>
      <th width="81" scope="col">Category</th>
      <th width="173" scope="col">&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[1]}}</td>
      <td><a href="/view_and_book_choreographer_pub?id={{i[0]}}">View choreographer</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}